.App {
  text-align: center;
  background-color: whitesmoke;
}
  

.card {
 height: 100vh;
 margin: 0 auto;
 z-index: 1;
}

.tools {
 display: flex;
 padding: 10px 10px;
 justify-content: center;
}

.text {
  color: black;
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 255, 0.527);
}

.circle {
 padding: 0 4px;
}
.card__content{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  position: relative;

}

/* Set the container to take up 100vh and use flexbox for layout */
/* Set the container to take up 100vh and use flexbox for layout */
.container {
  display: flex;
  height: 100vh;
}

/* Style the left and right sides */
.left-side, .right-side {
  flex: 1; /* Each side takes up half the container */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the left side to ensure elements stack vertically */
.left-side {
  flex-direction: column; /* Make children stack vertically */
  background-color: whitesmoke;
}



/* Additional styling for the right side */
.right-side img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.text2{
  font-family: "PT Sans", sans-serif;
  color: #6b6d70;
  max-width: 600px;
}
.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}