.carousel1 {
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-inner1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item1 {
    min-width: 100%;
    transition: opacity 1s ease-in-out;
  }
  
  .carousel1 img {
    width: 100%;
    display: block;
  }
  
   .right-arrow1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow1 {
    right: 10px;
  }


  @media (max-width: 768px) {
    .carousel1 {
      width: 100%;
      margin: 0;
    }
  
    /* .carousel-inner1 {
      flex-direction: column;
    } */
  
    .carousel-item1 {
      min-width: 100%;
    }
  
    .right-arrow1, .left-arrow {
      top: 45%;
      transform: translateY(0);
      background-color: rgba(0, 0, 0, 0.8);
      font-size: 18px;
      padding: 8px;
    }
  
    .left-arrow {
      left: 5px;
    }
  
    .right-arrow1 {
      right: 5px;
    }
  }